<!DOCTYPE html>
<html>
<head>

  <title>JoiaDaEuropa</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<!-- Navbar (sit on top) -->

  <div class="w3-bar w3-white w3-wide w3-padding w3-card-2 w3-bar-fixed-top" role="navigation">
    <%= image_tag('logo.png', :alt => 'logo feed') %>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="<%= home_index_path %>#projects" class="w3-bar-item w3-button">Home</a>
      <a href="<%= home_index_path %>#projects" class="w3-bar-item w3-button">Quem Somos</a>
      <a href="<%= home_index_path %>#contact" class="w3-bar-item w3-button">Missão</a>
      <a href="<%= home_index_path %>#contact" class="w3-bar-item w3-button">Noticias</a>


      <% if current_user %>

          <% @accounts = User.where(id: current_user.id) %>

          <% if @accounts.find_by(is_client: '1') %>
              <%= link_to 'Área de Cliente', client_area_index_path, :class => 'w3-bar-item w3-button' %>

          <% else %>
              <%= link_to 'Área do Agente', agent_area_index_path, :class => 'w3-bar-item w3-button' %>
          <% end %>

          <%= link_to 'Sign Out', destroy_user_session_path, {method: 'delete', class: 'w3-bar-item w3-button'} %>

      <% else %>
          <%= link_to 'Sign In', new_user_session_path, :class => 'w3-bar-item w3-button' %>
      <% end %>


    </div>
  </div>
</div>
<div class="container">
</div>

<nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Cliente</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index">Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
        </li>
        <li>
          <a href="new_order">New Order<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-send"></span></a>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Encomendas
            <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-folder-open"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="all_orders">All</a></li>
            <li><a href="pending_orders">Pending</a></li>
            <li><a href="approved_orders">Approved</a></li>
            <li><a href="cancelled_orders">Cancelled</a></li>
            <li><a href="concluded_orders">Concluded</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="main">
  <%= yield %>
</div>


</body>
</html>



