<!DOCTYPE html>
<html>
<head>
    <title>JoiaDaEuropa</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="container">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card-2" style='position: fixed;left: 0%;'>
        <%= image_tag('logo.png', :alt => 'logo feed') %>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a href="<%= home_index_path %>#projects" class="w3-bar-item w3-button">Missão</a>
            <a href="<%= home_index_path %>#about" class="w3-bar-item w3-button">Quem Somos</a>
            <a href="<%= home_index_path %>#contact" class="w3-bar-item w3-button">Contatos</a>
            <a href="<%= home_index_path %>#news" class="w3-bar-item w3-button">Noticias</a>

            <% if current_user %>
              <% @accounts = User.where(id: current_user.id) %>

              <% if @accounts.find_by(is_client: '1') %>
                  <%= link_to 'Área de Cliente', client_area_index_path, :class => 'w3-bar-item w3-button' %>

              <% else %>
                  <%= link_to 'Área do Agente', agent_area_index_path, :class => 'w3-bar-item w3-button' %>
              <% end %>

                <%= link_to 'Sign Out', destroy_user_session_path, {method: 'delete', class: 'w3-bar-item w3-button'} %>
            <% else %>
                <%= link_to 'Sign In', new_user_session_path, :class => 'w3-bar-item w3-button' %>
            <% end %>



        </div>
    </div>
</div>


<%= yield %>

</body>
</html>
