<!DOCTYPE html>

<h1>O meu Perfil</h1>

<html>
<body>

<%= image_tag('profileIMG.jpg', :alt => 'logo feed', :width => 250, :height => 250) %>

</body>
</html>


<div>
</br>

  <p>Email: <%= @account.email %>
  <p>Nome: <%= "Alberto" %>
  <p>Apelido: <%= "Caeiro" %>
  <p>Morada: <%= "Rua das Aguas, Bela Vista" %>

</div>


</div>