<div class="container-fluid">
    <h1>New Order</h1>

    <%= form_for @order, url: {action: "save_order"} do |f| %>

        <p>
            <%= f.label :price %>
            <%= f.text_field :price %>
        </p>


        <p>
            <%= f.label :obs %>
            <%= f.text_area :obs %>

        </p>

        <div class="fileinputs">
            <label class="choosefile">Escolher ficheiro:</label>
            <input type="file" class="file">

        </div>
        <p>
            <%= f.label :delivery_date %>
        <div class="container">
            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <div class='input-group'>
                            <%= f.text_field :delivery_date, id: 'delivery_date', :value => Date.today, :class => 'input-group date form-control' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </p>

        <p>
            <%= f.submit 'save_order' %>
        </p>

    <% end %>
</div>

<script type="text/javascript">
    $(function () {
        $('#delivery_date').datetimepicker({
            defaultDate: "now",
            format: 'DD-MM-YYYY'
        });
    });
</script>