<style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}

    /* Set gray background color and 100% height */
    .sidenav {
        background-color: #f1f1f1;
        height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
        .row.content {height: auto;}
    }
</style>

<div class="container-fluid">
    <%= form_for @order, url: {action: "save_order"} do |f| %>

        <p>
        <%= f.label :price %>
          <%= f.text_field :price %>
        </p>


        <p>
          <%= f.label :obs %>
          <%= f.text_area :obs %>
        </p>



        <p>
          <%= f.label :delivery_date %>
          <%= f.text_field :delivery_date, :id => 'datepicker', :value => Date.today, :class => 'input-group date' %>
        </p>

        <%= f.submit 'save_order' %>
    <% end %>
  </div>
</div>