<h1>My order #<%= @order.id %> </h1>

<div>
  <div>
    <span><%= t('price') %></span>
  </div>
  <div>
    <span><%= @order.price %></span>
  </div>
</div>

<div>
  <div>
    <span><%= t('delivery_date') %></span>
  </div>
  <div>
    <span><%= @order.delivery_date.strftime('%d-%m-%Y') %></span>
  </div>
</div>

<div>
  <div>
    <button><%= link_to 'Apagar', client_area_destroy_order_path(order_id: @order.id), method: :post, data: {confirm: 'Tem a certeza que deseja apagar?'} %></button>
  </div>
  <div>
    <button><%= link_to 'Editar Encomenda', client_area_edit_order_path(@order.id) %></button>
  </div>
</div>
