<h1>Order #<%= @order.id %> </h1>

<div>
  <div>
    <span><%= t('price') %></span>
  </div>
  <div>
    <span><%= @order.price %></span>
  </div>
</div>

<div>
  <div>
    <span><%= t('delivery_date') %></span>
  </div>
  <div>
    <span><%= @order.delivery_date.strftime('%d-%m-%Y') %></span>
  </div>
</div>

<div>
  <% @orders = Order.where(id: @order.id) %>

  <% if @orders.find_by(order_state_id: '1') %>
    <%= link_to 'Cancelar', agent_area_cancel_order_path(order_id: @order.id), method: :post, data: {confirm: 'Tem a certeza que deseja cancelar esta encomenda?'} %>
    <%= link_to 'Aceitar', agent_area_approve_order_path(order_id: @order.id), method: :post, data: {confirm: 'Tem a certeza que deseja aprovar esta encomenda?'} %>
  <%end %>

  <% if @orders.find_by(order_state_id: '4') %>
      <%= link_to 'Concluir', agent_area_complete_order_path(order_id: @order.id), method: :post, data: {confirm: 'Tem a certeza que deseja concluir esta encomenda?'} %>

  <%end %>
      </div>
