<h1>Order #<%= @order.id %> </h1>

<div>
  <div>
    <span><%= t('price') %></span>
  </div>
  <div>
    <span><%= @order.price %></span>
  </div>
</div>

<div>
  <div>
    <span><%= t('delivery_date') %></span>
  </div>
  <div>
    <span><%= @order.delivery_date.strftime('%d-%m-%Y') %></span>
  </div>
</div>

<div>
  <div>
    <%= link_to 'Apagar', client_area_destroy_order_path(order_id: @order.id), method: :post, data: {confirm: 'Tem a certeza que deseja apagar?'} %>
  </div>
  <div>
    <%= link_to 'edit_order', client_area_edit_order_path(@order.id) %>
  </div>
</div>
